.add-record-modal{
  #addRecordModal{
    .modal-content{
      border: none;
    }
    .modal-body{
      padding: 20px;
    }
    .modal-header{
      color: #007bff;
      padding-bottom: 4px;
    }
  }

  .amenities-container{
    margin-bottom: 10px;
  }

  label[for="name"], label[for="price"], label[for="amenities"]{
    display: block;
    text-align: left;
  }

  button[type="submit"]{
    width: 100%;
  }

  button[type="button"]{
    color: white;
    background: #007bff;
    opacity: 1;
    outline: none;
  }

  .form-check{
    text-align: left;
  }
}
