.add-record-modal{
  #addRecordModal .modal-body{
    padding: 20px;
  }

  .amenities-container{
    margin-bottom: 10px;
  }

  label[for="name"], label[for="price"], label[for="amenities"]{
    display: block;
    text-align: left;
  }

  button[type="submit"]{
    width: 100%;
  }

  .form-check{
    text-align: left;
  }
}
