.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url('/images/beach_dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
